.opcoes-item .LnkButton {
    grid-gap: 25px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 40%;
    align-items: center;
    transition: .30s;
    padding: 1%;
}

    .opcoes-item .LnkButton:hover {
        background-color: white;
        color: #4F78C4;
    }

    .opcoes-item .LnkButton .icon {
        margin-left: 10%;
    }

.LbTitulo {
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.DivTextBlock {
    width: 80%;
    font-size: 18px;
}

    .DivTextBlock .lbTextBlock {
        color: white;
    }
